body{
  font-family:"Lato",sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  font-size:1.6rem;
  line-height: 1.7;
  color: $color-grey-dark;
  padding: 3rem; /*not getting inherited*/
 
}

.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    /* So it's a bit shaky, and its the entire heading-primary element.
      This backface-visibility property determines if the back part of the element when we transform it
      is visible or hidden for the user. */
    backface-visibility: hidden;
    margin-bottom: 6rem;
  
    &--main {
      display: block;
      /* font-size: 60px; */
      font-size: 6rem;
      font-weight: 400;
      letter-spacing: 3.5rem;
      animation-name: moveInLeft;
      animation-duration: 1s;
      animation-timing-function: ease-out;
    
      /*
        animation-delay: 3s;
        animation-iteration-count: 3;
        */
    }
    &--sub {
      display: block;
      /* font-size: 20px; */
      font-size: 2rem;
      font-weight: 700;
      letter-spacing: 1.75rem;
      animation: moveInRight 1s ease-out;
    }
  }
  